@import 'styles.css';

@media (min-width: 750px) {
    .desktop-grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        margin: 1rem;
        margin-top: 60px;
    }

    .hero {
        transform: translateY(0); 
        background-repeat: no-repeat;
        background-position: center;
        grid-column: 2/4;
        grid-row: 1/2;
        border-radius: 0;  
    }

    .main {
        grid-column: 2/4;
        grid-row: 2/3;
    }

    .section {
        grid-column: 1/2;
        margin-top: 1.5rem;
    }

    .bread-about {
        transform: translateY(400px);
    }


}