@import 'styles.css';

@media (min-width: 750px) {
    .main {
        height: 70vh;
        margin:  0 7rem;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .contact-form {
        width: 30rem;
        grid-column: 2/4;
        margin: 0 auto;
        margin-top: 3rem;
    }
}