/*TODO: 
*Fix nav for portrait
*Make manu animation go left
*/

@import 'normalize.css';

/***************************************
Declaration of variables and tags reset
****************************************/
:root {
    --brand-main: #EF73AB;
    --brand-brown: #7E4141;
    --brand-green: #6BCCBF;
    --buttons-hover: #52A297;
    --buttons-hover-desktop: #F55DA2;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Sansita', sans-serif;
    font-family: var(--main-font);
    color: var(--brand-brown);
    font-style: normal;
    font-weight: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
    min-height: 100%;
}

a, 
ul {
    text-decoration: none;
    color: #fff;
    list-style: none;
}

h1 {
    font-family: var(--secondary-font);
    text-align: center;
}

p {
    text-align: center;
    line-height: 1.8rem;
    margin: 1.5rem;
}

section {
    margin-top: 4rem;
}

span {
    font-weight: bold;
}

/***********************
Navigaton Bar and Footer 
************************/
.nav,
.footer {
    background-color: var(--brand-main);
    width: 100vw;
    height: 50vw; 
    padding: 1rem;
    z-index: 10;
}

.nav {
    position: fixed;
    border-radius: 0 0 50vw 50vw; 
    top: 0;
}

.desktop-menu {
    display: none;
}

.cart-menu {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
}

.cart > a > svg {
    fill: #fff;
    margin-right: .7rem;
}

.logo > a > svg {
    position: absolute;
    bottom: 1rem; 
    width: 7rem;
    margin-left: .7rem;
}

.logo a {
    display: flex;
    justify-content: center;
}

.social {
    display: flex;
    align-self: flex-start;
}

.social div {
    margin: .25rem;
}

.social div:hover,
.cart:hover {
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    transform: scale(1.1);
}

.footer {
    border-radius: 50vw 50vw 0 0; 
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.footer ul {
    font-size: .5rem;
    line-height: 1rem;
    color: #fff; 
}

.hours li:first-child {
    font-weight: bold;
}

.footer-links li {
    margin-top: .9rem;
    margin-left: 1.2rem;
}

/***********
Main section
************/
.main {
    min-height: calc(100vh - 100vw);
    transform: translateY(50vw);
    margin-bottom: 60vw;
}

.index,
.about {
    transform: translateY(-10vw);
}

.hero {
    margin: 0;
}

.hero img {
    width: 100vw;
}

.welcome {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 1rem;
}

.about-us {
    margin-top: 1rem;
}

.desktop-woman {
    display: none;
}

/*******
Buttons 
********/
.btn {
    font-family: var(--main-font);
    color: #fff;
    background-color: var(--brand-green);
    padding: .8rem; 
    font-size: .8rem;
    border-radius: 30px;
    width: 8rem;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    margin-top: 1rem;
}

.btn:hover {
    background-color: var(--buttons-hover);
}

.btn:active {
    transform: scale(.95);
    transition: transform .3s;
}

/***********************
Product Card and Slider
************************/
.slider {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.back-arrow,
.forward-arrow {
    align-self: center;
    cursor: pointer;
}

.product-card {
    width: 70vw;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 5px 12px 0px rgba(204,204,204,1);
    box-shadow: 0px 5px 12px 0px rgba(204,204,204,1);
}

.product-image {
    width: 170px;
    height: 170px;
}

[type="text"] {
    color: var(--brand-brown);
}

.cart-add {
    display: flex;
    margin-top: 1rem;
    margin-left: .4rem;
}

.cart-add > * {
    border: 1px solid var(--brand-brown);
    width: 1.6rem;
    height: 1.4rem;
    text-align: center;
}

.cart-add div:nth-child(1),
.cart-add div:nth-child(3) {
    cursor: pointer;
}

.cart-add div:first-child {
    border-right: none;
}

.cart-add div:nth-child(3) {
    border-left: none;
}

.cart-add div:last-child {
    background-image: url("../Images/shopping_cart-24px.svg");
    border: none;
    margin-left: 1.5rem;
    background-repeat: no-repeat;
}

.donut-name {
    font-family: var(--secondary-font);
    text-align: center;
}

/********************
Why choose us section
*********************/
.why-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.why-svg {
    background-repeat: no-repeat;
    height: 6rem;
    width: 5rem;
    margin: 1rem;
}

.cook {
    background-image: url("../Images/cook.svg");
}

.eco {
    background-image: url("../Images/eco.svg");
    height: 4rem;
    width: 3rem;
    margin-top: 2.5rem;
}

.money {
    background-image: url("../Images/money.svg");
}

/****************
Comments Section
*****************/
.stars {
    height: 1rem;
    width: 5.2rem;
    margin-left: .5rem;
    background-image: url("../Images/star.svg");    
}

.date {
    font-size: .5rem;
    text-align: left;
    margin: 0;
}

.comment {
    margin: 1.5rem;
    margin-top: 3.5rem;
}

.comment p {
    text-align: left;
}

.comment-data {
    display: flex;
    align-items: center;
}

.comment p {
    margin: 0;
}

/***********
Breadcrumbs
***********/
.breadcrumbs{
    margin-left: 1rem;
    margin-top: .5rem;
}

.breadcrumbs > * {
    font-size: .8ƒrem;
    color: var(--brand-brown);
    text-decoration: none;
    display: inline;
    margin: 0;    
}

/************
Contact Form
*************/
.contact-form {
    margin: 2rem;
    display: flex;
    flex-flow: column nowrap;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--brand-brown);
    border-radius: 10px;
    margin-top: .5rem;
    padding: .8rem;
}

.contact-form input {
    height: 2.5rem;
}

.contact-form div {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1.5rem;
}

.contact-form label  {
    font-size: .8rem;
}

.contact-form [type="email"] {
    color: var(--brand-brown);
}

.contact-form textarea {
    color: var(--brand-brown);
    font-family: var(--main-font);
    font-size: .8rem;
}

.contact-form div:last-child {
    align-self: center;
}

.donut-name {
    font-family: var(--secondary-font);
    text-align: center;
}

/*********************
Desktop shared styles
**********************/
@media (min-width: 650px) {
    .burger {
        display: none;
    }

    .nav {
        height: 7rem;
        border-radius: 0 0 70%  70%;
    }

    .footer {
        height: 7rem;
        border-radius: 70%  70% 0 0;
        justify-content: space-evenly;
        align-items: center;
        margin-top: 2rem;
        transform: translateY(3rem);
    }

    .desktop-menu {
        display: flex;
        list-style: none;       
        font-family: var(--secondary-font);
        text-transform: uppercase;
        position: absolute;
        font-size: 1.2rem;
    }

    .desktop-menu li a{
        color: white;
        text-decoration: none;
    }

    .desktop-menu li {
        margin: 1rem;
    }

    .desktop-menu:first-of-type {
        top: .1rem;
        left: 25%;
    }

    .desktop-menu:last-of-type {
        top: .1rem;
        right: 20%;
    }

    .main {
        min-height: calc(100vh - 14rem);
        display: grid;
    }

    .index-slide {
        display: none;
    }

}