:root {
    --brand-main: #EF73AB;
    --brand-brown: #7E4141;
    --brand-green: #6BCCBF;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Sansita', sans-serif;
    font-family: var(--main-font);
    color: var(--brand-brown);
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
}

.nav,
.footer {
    background-color: var(--brand-main);
    width: 100vw;
    height: 50vw; 
    margin: 0 auto;
    padding: 1rem;
    position: sticky;
}

.nav { 
    border-radius: 0 0 50vw 50vw; 
    position: absolute;
    top: 0;  
}

.logo > a > svg {
    position: absolute;
    bottom: 1rem; 
    width: 7rem;
}

.logo a {
    display: flex;
    justify-content: center;
}

.social {
    position: absolute;
    display: flex;   
}

.social > *,
.cart-menu > * {
    margin-right: .5rem;
}

.cart-menu {
    position: absolute;
    right: 0;
    display: flex;
}

.cart > a > svg {
    fill: white;
    margin-right: .7rem;
}

.footer {
    bottom: 0;
    border-radius: 50vw 50vw 0 0; 
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 

.footer ul,
.footer-links a {
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: .5rem;
}

.footer ul a {
    margin-top: 2rem;
}

.footer ul {
    line-height: .9rem;
}

.foot {
    align-self: flex-start;
}

.footer-links {
    margin-left: 2rem;
}

.hours {
    margin-right: 2rem;
}

.footer-links li {
    margin-top: .9rem;
}



