@import "menu.css";

:root {
    --brand-main: #EF73AB;
    --brand-brown: #7E4141;
    --brand-green: #6BCCBF;
    --buttons-hover: #52A297;
    --buttons-hover-desktop: #F55DA2;
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Sansita', sans-serif;
    font-family: var(--main-font);
    color: var(--brand-brown);
}

* {
  box-sizing: border-box;
  padding: 0;
  border: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    min-height: 100vh;
}

h1 {
    font-family: var(--secondary-font);
    text-align: center;
}

.nav,
.footer {
    background-color: var(--brand-main);
    width: 100vw;
    height: 50vw; 
    margin: 0 auto;
    padding: 1rem;
    z-index: 10;
}

.nav { 
    border-radius: 0 0 50vw 50vw; 
    top: 0; 
    position: sticky; 
}

.logo > a > svg {
    position: absolute;
    bottom: 1rem; 
    width: 7rem;
    margin-left: .7rem;
}

.logo a {
    display: flex;
    justify-content: center;
}

.social {
    position: absolute;
    display: flex;   
}

.social > *,
.cart-menu > * {
    margin-right: .5rem;
}

.cart-menu {
    position: absolute;
    right: 0;
    display: flex;
}

.cart > a > svg {
    fill: white;
    margin-right: .7rem;
}

.footer {
    bottom: 0;
    border-radius: 50vw 50vw 0 0; 
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
} 

.footer ul,
.footer-links a {
    color: white;
    list-style: none;
    text-decoration: none;
    font-size: .5rem;
}

.footer ul a {
    margin-top: 2rem;
}

.footer ul {
    line-height: .9rem;
}

.foot {
    align-self: flex-start;
}

.footer-links {
    margin-left: 2rem;
}

.hours {
    margin-right: 2rem;
}

.hours li:first-child {
    font-weight: bold;
}

.footer-links li {
    margin-top: .9rem;
}

.main {
    margin: 2rem;
}

.hero {
    height: 70vh;
    border-radius: 8px;
    top: 0; 
    transform: translateY(-50vw);
    margin-bottom: 2rem;
}

.hero img {
    width: 100%;
}

.about {
    background-image: url("../Images/about-us.jpg");
}

.paragraph {
    text-align: center;
    line-height: 1.8rem;
}

.paragraph span {
    font-weight: bold;
}

.welcome {
    transform: translateY(-50vw); 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 1.5rem;
}

.btn {
    color: #fff;
    background-color: var(--brand-green);
    padding: .8rem; 
    font-size: .8rem;
    border-radius: 30px;
    width: 8rem;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
    border: none;
    margin-top: 1rem;
}

.btn:hover {
    background-color: var(--buttons-hover);
}

.btn:active {
    transform: scale(.95);
    transition: transform .3s;
}

.desktop-woman {
    display: none;
}

.section {
    transform: translateY(-50vw); 
    margin-top: 4.5rem;
}

.slider {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.back-arrow,
.forward-arrow {
    align-self: center;
    cursor: pointer;
}

.slider-items {
    width: 80%;
    padding: 1.5rem;
    margin: 1rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    -webkit-box-shadow: 0px 5px 12px 0px rgba(204,204,204,1);
    -moz-box-shadow: 0px 5px 12px 0px rgba(204,204,204,1);
    box-shadow: 0px 5px 12px 0px rgba(204,204,204,1);
}

.item {
    width: 170px;
    height: 170px;
}

[type="text"] {
    color: var(--brand-brown);
}

.cart-add {
    display: flex;
    margin-top: 1rem;
    margin-left: .4rem;
}

.cart-add > * {
    border: 1px solid var(--brand-brown);
    width: 1.6rem;
    height: 1.4rem;
    text-align: center;
}

.cart-add div:nth-child(1),
.cart-add div:nth-child(3) {
    cursor: pointer;
}

.cart-add div:first-child {
    border-right: none;
}

.cart-add div:nth-child(3) {
    border-left: none;
}

.cart-add div:last-child {
    background-image: url("../Images/shopping_cart-24px.svg");
    border: none;
    margin-left: 1.5rem;
    background-repeat: no-repeat;
}

.why-item {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
}

.why-svg {
    background-repeat: no-repeat;
    height: 6rem;
    width: 5rem;
    margin: 1rem;
}

.cook {
    background-image: url("../Images/cook.svg");
}

.eco {
    background-image: url("../Images/eco.svg");
    height: 4rem;
    width: 3rem;
}

.money {
    background-image: url("../Images/money.svg");
}

.stars {
    height: 1rem;
    width: 5.2rem;
    margin-left: 1rem;
    background-image: url("../Images/star.svg");    
}

.date {
    font-size: .5rem;
    text-align: left;
    margin: 0;
}

.comment {
    margin-top: 3.5rem;
    margin: 1.5rem;
}

.comment-data {
    display: flex;
    align-items: center;
}

.comment-data p {
    margin: 0;
}

.breadcrumbs {
    margin: 1.5rem;
}

.bradcrumbs > * {
    font-size: .5rem;
    color: var(--brand-brown);
    text-decoration: none;
    display: inline;
}

.bread-about {
    transform: translateY(-4rem); 
}

.about-us {
    transform: translateY(-15rem); 
}

.contact-form {
    margin: 2rem;
}

.contact-form input,
.contact-form textarea {
    border: 1px solid var(--brand-brown);
    border-radius: 10px;
    margin-top: .5rem;
    padding: .8rem;
}

.contact-form input {
    height: 2.5rem;
}

.contact-form div {
    display: flex;
    flex-flow: column nowrap;
    margin-top: 1.5rem;
}

.contact-form label  {
    font-size: .8rem;
}

.contact-form [type="email"] {
    color: var(--brand-brown);
}

.contact-form textarea {
    color: var(--brand-brown);
    font-family: var(--main-font);
    font-size: .8rem;
}

.donut-name {
    font-family: var(--secondary-font);
    text-align: center;
}

.desktop-menu {
    display: none;
}

/*desktop  styles*/
@media (min-width: 750px) {
    .burger {
        display: none;
    }

    .nav {
        height: 7rem;
        border-radius: 0 0 70%  70%;
    }

    .footer {
        height: 7rem;
        border-radius: 70%  70% 0 0;
    }

    .desktop-menu {
        display: flex;
        list-style: none;       
        font-family: var(--secondary-font);
        text-transform: uppercase;
        position: absolute;
        font-size: 1.2rem;
    }

    .desktop-menu li a{
        color: white;
        text-decoration: none;
    }

    .desktop-menu li {
        margin: 1rem;
    }

    .desktop-menu:first-of-type {
        top: .1rem;
        left: 25%;
    }

    .desktop-menu:last-of-type {
        top: .1rem;
        right: 20%;
    }

}

@media print {
    p,
    h1,
    h2,
    h3 {
        widows: 3;
        orphans: 3;
    }
    
}
